.ud-courses {
    margin-top: $mg-2;
    margin-bottom: $mg-2;
    &-content {
        width: 80%;
        margin: auto;
        &__intro {
            padding-top: 4rem;
            h2 {
                @include d-text($fs-4 - 4, $fw-normal, $color-black-0);
            }
        }
        #ud-tab {
            justify-content: space-between;
            a {
                text-transform: capitalize;
            }
            .nav-item {
                &:hover {
                    .nav-link {
                        border: none;
                    }
                }
                .nav-link.active {
                    border: none;
                    border-bottom: 5px solid $color-blue;
                }
                .nav-link {
                    @include d-text($fs-0, $fw-normal, $color-black-0);
                    border: none;
                }
            }
        }
        .tab-content {
            margin-top: $mg-2;
            .tab-pane {
                .card {
                    margin: $mg-0 $mg-1;
                    img {
                        width: 100%;
                    }
                    .card-title {
                        @include d-text($fs-0, $fw-bold, $color-black-0);
                    }
                    .card-text {
                        @include d-text($fs-1, $fw-normal, $color-gray-4);
                    }
                    .rating {
                        display: flex;
                        .rating-star {
                            @include d-text($fs-1, $fw-normal, $color-yellow);
                            margin-right: $mg-0;
                        }
                        span:nth-child(2) {
                            @include d-text($fs-1, $fw-bold, $color-gray-4);
                            margin-right: $mg-0;
                        }
                        span:last-child {
                            @include d-text($fs-1, $fw-normal, $color-gray-4);
                        }
                    }
                    .price {
                        text-align: right;
                        .old-price {
                            @include d-text($fs-1, $fw-normal, $color-gray-4);
                            text-decoration: line-through;
                        }
                        .new-price {
                            @include d-text($fs-0, $fw-bold, $color-black-0);
                        }
                    }
                }
            }
        }
    }
}
