.intro {
    background: linear-gradient(to right, $color-red-1, $color-red-0 );
    &-content {
        width: 80%;
        margin: auto;
        padding: $pd-2;
        .icon {
            @include d-text($fs-4 + 10, $fw-bold, $color-white-0);
            margin-right: $mg-2;
        }
        .content {
            p {
                @include d-limit-text-line(2);
            }
            p:first-child {
                @include d-text($fs-0 + 2, $fw-bold, $color-white-0);
            }
            p:last-child {
                @include d-text($fs-0, $fw-normal, $color-white-0);
            }
        }
    }
}