.mec-carousel {
  padding-left: 10vw;
  padding-right: 10vw;
  .mec-carousel__slider {
    .mec-carousel__img {
      .mec-item {
        img {
          height: 30vw;
        }
        .mec-carousel__ul{
          li{
            background-color: transparent;
            border-color: transparent;
            color: honeydew;
          }

          width: 60%;


  
        }

        // .img_abs:hover {
        //   height: 300px;
        // }
      }
    }
  }
}
