/* GLOBAL */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.clear{
  clear: both;
}

/* SPECIAL */
.title-linebreak {
  text-align: center;
  margin: 40px auto 20px auto;
}

.title-linebreak img {
  width: 50%;
  padding: 20px;
}

/* HEADER */
/* 
    thẻ block : width = 100%
    thẻ inline : width = nội dung
*/
.header-logo {
  float: left;
}

.header-title {
  float: right;
  color: #132E6F;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
}

.header-title h3:first-child {
  text-align: right;
  padding: 0 0 0 20px;
}

.header-title h3:last-child {
  text-align: left;
}

/* TAB */
.tab {
  margin: 10px 5px;
  text-align: center;
}

.tab ul li{
  display: inline;
  padding: 7px;
}

.tab ul li a {
  text-decoration: none;
  color: #748189;
  font-weight: bold;
}

.tab ul li a:hover {
  text-decoration: underline;
  text-decoration-color: brown;
  color: #748189;
}

/* CAROUSEL */
.carousel img {
  width: 100%;
  padding: 20px 5px;
}

/* INTRO */
.intro p {
  text-align: center;
  color: #748189;
}

/* PRODUCT */
.product {
  margin: 80px 0px;
}

.product-item {
  float: left;
  width: 25%;
}

.product-item img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.product-item p {
  color: #748189;
  padding: 0px 10px;
}

.product-item h3 {
  color: brown;
  font-size: 15px;
  padding: 0px 10px;
}

/* EVENT */
.event-items {
  display: flex;
  flex-wrap: wrap;
}

.event-column:first-child {
  flex: 50%;
}

.event-column:nth-child(n+2) {
  flex: 25%;
}

.event-cell {
  position: relative;
}

.event-cell:before {
  content : "";
  position: absolute;
  left    : 10px;
  bottom  : 0;
  right: 10px;
  border-bottom:5px solid brown;
}

.event-cell img {
  display: block;
  width: 100%;
  padding: 10px;
}

.event-column:first-child p {
  font-size: 30px;
  font-weight: 600;
}

.event-column:nth-child(n + 2) p {
  font-size: 20px;
  font-weight: 100;
}

.event-cell p {
  color: white;
  background-color: rgba(80, 80, 80, 0.5);
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
}

/* FOOTER */
.footer-item {
  background-image: url(../img/bg_banner.png);
  margin: 40px 0px;
}

.footer-background img{
  visibility: hidden;
  width: 100%;
  height: 20px;
}

.footer-img {
  float: left;
}

.footer-infor {
  float: right;
  width: 50%;
  padding: 20px;
}