

.ghe{
    width: 35px;
    height: 35px;
    border:none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(233, 233, 233) ;
}

.gheDaDat{
    background-color: rgb(118, 118, 118) !important;
    cursor: no-drop !important;
}

.gheVip {
    background-color: orange !important;
}

.gheDangDat {
    background-color: greenyellow !important;
}
