.product {
    &-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding: 30px 10vw;
        text-align: center;
        .product-item {
            border: 2px solid grey;
            img {
                height: 70%;
            } 
            button {
                border: 4px solid white;
                transition: all 1s;
            }
            &:hover {
                button {
                    border-color: orange;
                }
            }           
        }
    }
    /* common */
    @include unify-parent(".background1") {
        /* ... */
        background-color: white;
    }
    @include unify-parent(".background2") {
        /* ... */
        background-color: black;
    }
}
